@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span class="me-3">Hello, @context.User.Identity?.Name!</span>
        <button class="btn btn-outline-light btn-sm" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-light btn-sm" @onclick="BeginLogin">Log in</button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    private void BeginLogin()
    {
        Navigation.NavigateToLogin("authentication/login");
    }
}
