{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "ServiceBusConnection": "<your-service-bus-connection-string>",
    "BlobStorage:ConnectionString": "UseDevelopmentStorage=true",
    "ConnectionStrings:DefaultConnection": "Server=(localdb)\\mssqllocaldb;Database=SubrogationDemandManagement;Trusted_Connection=True;MultipleActiveResultSets=true",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": ""
  }
}
